@import "tailwindcss";

@theme {
  --color-main-color: #262626;
  --color-secondary-color: #bcbcbc;
  --color-highlight-color: #4ce0d7;
  --color-light-color: #e0e0e0;

  --spacing: 0.5rem;
}

@theme inline {
  --font-primary: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
}